BODY {
    background: black;
    margin: 0px;
    font-family: Courier New, Courier, Fixed;
}
DIV, TD, TR, TABLE, UL, LI {
    padding: 0px;
    margin: 0px;
}
.centerer {
    min-height: 100%;
/*     width: 75%; */
/*     margin: 0px auto; */
}
.content {
    position: relative;
    background: #dff;
}
.actions {
    margin: 0px;
    padding: 1em;
}
.action-content {
    background: white;
}
.actions A {
    display: block;
    border: solid 1px navy;
    background: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: navy;
}
.actions A:hover {
    background: navy;
    color: white;
}
.actions LI {
    list-style: none;
}
H1, H2, TABLE, P, DL {
    margin: 0em;
}
DT {
    font-weight: bold;
}
.action-content P { padding-top: 1em; }
TABLE { 
    margin-top: 0.5em;
    border-spacing: 0px;
    width: 100%;
}
.action-content H1 {
    padding: 0.1em;
    background: #dff;
    margin: 0em 0em 0.25em 0em;
}
.action-content H2 {
    padding: 0.1em;
}
TD {
    padding: 0.25em;
    border: solid 1px #dde;
    border-bottom: solid 1px #dde;
}
fieldset {
    border: solid 1px #dde;
    padding: 0.5em;
}
fieldset legend {
    font-weight: bold;
    font-size: 1.5em;
}
INPUT, TEXTAREA {
    font-family: Courier New, Courier, fixed;
    font-size: 1em;
}
TEXTAREA {
    min-height: 5em;
    width: 100%;
}
.buttons {
    margin-top: 0.5em;
}
.buttons input {
}
.content {
}
.header {
    background: navy;
    color: white;
    padding-top: 0em;
    width: 100%;
    top: 0px;
}
.header H1 { margin: 0em 0.1em 0em 0.5em; padding-top: 0.1em; }
.footer {
    background: navy;
    color: white;
    padding-top: 0em;
    padding: 0.5em;
    position: relative;
    font-size: 0.8em;
    text-align: center;
}
.header A, .footer A {
    color: cyan;
    text-decoration: none;
}
.header .time, .footer .time {
    position: absolute;
    right: 0.5em;
    top: 0em;
    line-height: 2.5em;
}
.backtrace {
    list-style: none;
    padding: 0px;
}
.backtrace LI {
    margin: 0.5em 0em;
    padding: 0.25em;
}
.backtrace LI:nth-child(odd), .action-content TR:nth-child(even) {
    background: #dff;
}
#flash {
    background: #dfd;
    border: solid 1px #8f8;
}
#flash P {
    margin: 0.25em;
    padding: 0.25em 0.25em;
}