<% if @jobs.empty? %>
<p>No jobs were found.</p>
<% else %>
<table>
<tr>
  <th>ID</th>
  <th>Running at</th>
  <th>Command</th>
</tr>
<% @jobs.each do |job| %>
<tr>
  <td><a href="/jobs/<%= job.id %>.html"><%= job.id %></a></td>
  <td><%= job.at.strftime("%Y/%m/%d %H:%M") %></td>
  <td><%= job.command %></td>
</tr>
<% end %>
</table>
<% end %>