<h1>Job <%= @job.id %></h1>
<form method="POST">
  <input type="hidden" name="method" value="put"/>
  <dl>
    <dt>At</dt>
    <dd><input name="job[at]" value="<%= @job.at %>"/></dd>

    <dt>Command</dt>
    <dd><textarea name="job[command]"><%= @job.command %></textarea></dd>
  </dl>
  <div class="buttons">
    <input type="submit" name="commit" value="Save"/>
    <input type="submit" name="commit" value="Destroy"/>
  </div>
</form>