<h1>
  <%= "New" if @job.new_record? %>
  Job
  <%= @job.id unless @job.new_record? %>
</h1>
<form method="POST">
  <fieldset>
  <dl>
    <dt>At</dt>
    <dd>
      <input name="job[at]" value="<%= @job.at.strftime("%Y/%m/%d %H:%M") %>"/>
    </dd>

    <dt>Command</dt>
    <dd><textarea name="job[command]"><%= @job.command %></textarea></dd>
  </dl>
  </fieldset>
  <div class="buttons">
    <input type="submit" name="commit" value="Save"/>
    <% unless @job.new_record? %>
      <input type="submit" name="commit" value="Destroy"/>
    <% end %>
  </div>
</form>
