<html>
  <title><%= "#{@title} | " if @title %>AtRest</title>
  <style type="text/css">
    BODY {
      background: black;
      margin: 0px;
      font-family: Courier New, Courier, Fixed;
    }
    DIV, TD, TR, TABLE {
      padding: 0px;
      margin: 0px;
    }
    .content {
      position: relative;
      background: #eef;
      width: 75%;
      min-height: 100%;
      margin: 0px auto;
    }
    .actions {
      position: absolute;
      top: 3em;
      right: 0px;
      width: 11em;
      margin: 0px;
      padding: 0px;
    }
    .action-content {
      padding: 0em 1em 2em 1em;
      margin-right: 11em;
      border-right: solid 2px navy;
      background: white;
    }
    .actions A {
      display: block;
      width: 10em;
      line-height: 2em;
      border: solid 1px navy;
      background: white;
      margin: 0.5em;
      text-align: center;
      text-decoration: none;
    }
    .actions A:hover {
      background: navy;
      color: white;
    }
    .actions UL {
      margin: 0px;
      padding: 0px;
    }
    .actions LI {
      list-style: none;
    }
    H1, TABLE, P, DL {
      margin: 0em;
    }
    .action-content P { padding-top: 1em; }
    TABLE {
      margin-top: 0.5em;
      border-spacing: 0px;
      width: 100%;
    }
    .action-content H1 { padding-top: 0.5em; }
    TD {
      padding: 0.25em;
    }
    TD {
      border: solid 1px #dde;
      border-bottom: solid 1px #dde;
    }
    form {
      border: solid 1px #dde;
      padding: 0.5em;
    }
    .buttons {
      margin-top: 0.5em;
      padding: 0.5em;
      background: #eef;
    }
    .buttons input {
      width: 8em;
      margin: 0em 0.25em;
    }
    .content {
    }
    .header {
      background: navy;
      color: white;
      padding-top: 0em;
      width: 100%;
      top: 0px;
    }
    .header H1 { margin: 0em 0.1em 0em 0.5em; padding-top: 0.1em; }
    .footer {
      background: navy;
      color: white;
      padding-top: 0em;
      padding: 0.5em;
      position: relative;
      font-size: 0.8em;
      text-align: center;
    }
    .header A, .footer A {
      color: cyan;
      text-decoration: none;
    }
    .header .time, .footer .time {
      position: absolute;
      right: 0.5em;
      top: 0em;
      line-height: 2.5em;
    }
  </style>
  <body>
    <div class="content">
      <div class="header">
	<h1>
	  <a href="/">AtRest</a>
	</h1>
	<p class="time">
	  <%= Time.now.strftime("%Y/%m/%d %H:%M") %>
	</p>
      </div>
      <div class="action-content">
	<%= yield %>
      </div>
      <ul class="actions">
	<li>
	  <a href="/jobs.html">Jobs</a>
	  <ul>
	    <li><a href="/jobs/new.html">New</a></li>
	  </ul>
	</li>
      </ul>
      <div class="footer">
	<p>
	  Powered by <a href="http://github.com/sneakin/at_rest">AtRest</a>.
	  Copyright &copy; 2009 <a href="http://semanticgap.com/">SemanticGap</a>&reg;.
	</p>
      </div>
    </div>
  </body>
</html>