<html>
  <title><%= "#{@title} | " if @title %>AtRest</title>
  <link href="/style.css" rel="stylesheet" media="all"/>
  <body>
    <div class="centerer">
      <div class="content">
	<div class="header">
	  <h1>
	    <a href="/">AtRest</a>
	  </h1>
	  <p class="time">
	    <%= Time.now.strftime("%Y/%m/%d %H:%M") %>
	  </p>
	</div>
	<div class="action-content">
	  <h1><%=h @title %></h1>
	  <%= yield %>
	</div>
	<ul class="actions">
	  <li>
	    <a href="/jobs.html">Jobs</a>
	    <ul>
	      <li><a href="/jobs/new.html">New</a></li>
	    </ul>
	  </li>
	</ul>
	<div class="footer">
	  <p>
	    Powered by <a href="http://github.com/sneakin/at_rest">AtRest</a>.
	    Copyright &copy; 2009 <a href="http://semanticgap.com/">SemanticGap</a>&reg;.
	  </p>
	</div>
      </div>
    </div>
  </body>
</html>